<center>
	<h1>How to use?</h1>
</center>
<h3>1° Enter the text in the first text box</h2>
<h3>2° Enter the possible anagram in the second text box</h2>
<h3>3° Click to verify and wait for the result</h2>
